* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.row {
  margin-bottom: 0px;
}

.row .col.wrapper {
  padding: 0;
}

.wrapper {
  min-height: 100vh;
}

.content {
  min-height: 95vh;
  padding: 0 5vw;
  display: flex;
  flex-direction: column;
}

.app-title {
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 1rem;
}

.program {
  font-size: 1.4rem;
}

/* button animation: */
.ripple {
  background-position: center;
  transition: 1s;
}
.ripple:hover {
  background: #64b5f6 radial-gradient(circle, transparent 1%, #64b5f6 1%)
    center/11000%;
}
.ripple:active {
  background-color: #64b5f6;
  background-size: 100%;
  transition: 0s;
}

.footer {
  height: 5vh;
  line-height: 5vh;
  text-align: center;
  background-color: rgb(39, 48, 52);
  color: white;
  font-size: 0.8rem;
}
